<div *ngIf="!appKey; else weatherApp">
  <p>
    You need to introduce your OpenWeather app key inside
    <b>environments/enviroment.ts</b> file.
    <br />
    For more info to create an account, refer to:
    <a href="https://openweathermap.org/">OpenWeatherMap</a>
  </p>
</div>

<ng-template #weatherApp>
  <div *ngIf="loadingService.loading">
    <app-loading></app-loading>
  </div>
  <div
    *ngIf="(currentWeatherService.weather$ | async) && !loadingService.loading"
  >
    <app-current-weather></app-current-weather>
    <app-forecast></app-forecast>
    <app-geolocation-button></app-geolocation-button>
    <p *ngIf="this.geoLocationService.coords && !loadingService.loading">
      Las coordenadas son: ({{ this.geoLocationService.coords?.lat }},
      {{ this.geoLocationService.coords?.lon }})
    </p>
  </div>
</ng-template>
